<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not found</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
   <header>
        <div>
            <div>Home</div>
            <div>News</div>
            <div>About</div>
        </div>
    </header>
    <main>
        <div class="division">
            <div class="div" >
                <section><h1>Hi, lookin for somethin?<br>sorry, maybe you get lost &#128521;</h1></section>
                <a href="index"><button type="button" class="btn btn-primary">Back to home&#9918;</button></a>
            </div>
        </div>
    </main>
    <footer>
        
    </footer>
    <script src="script.js" ></script>
    
</body>

</html>