<!DOCTYPE html>
<html lang="en">

<%- include('head') %>

    <body>
        <%- include('header') %>
            <main>
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-12 col-md">
                            <h1>Hi, lookin for somethin?<br>sorry, maybe you get lost &#128521;</h1>
                        </div>
                        <div class="col-12 col-md">
                            <a href="/"><button type="button" class="btn btn-primary">Back to home&#9918;</button></a>
                        </div>
                    </div>
                </div>
            </main>
            <%- include('footer') %>

    </body>

</html>