<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="style.css">
    <!-- icon -->
    <link rel=" icon" href="titik.png" type="image/x-icon">

</head>

<body>
    <footer>
        <p style="color: white ;">News Project version 1.0.0 &#169; 2021, By Kelompok 2 </p>
    </footer>
    <script src="bootstrap.js"></script>
    <script src="script.js"></script>
</body>

</html>