<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Content</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div>
            <div>Home</div>
            <div>News</div>
            <div>About</div>
        </div>
    </header>
    <main>
        <p>same</p>
    </main>
    <p> times visit.</p>
    <footer>
        
    </footer>
    <script src="script.js" ></script>
</body>
</html>