@import "bootstrap.css";

.container-img {
  margin: 20px auto;
  padding: 5px;
  max-width: 70%;
  max-height: 20%;
}
.jumbotron {
  font-size: 20px;
  padding: 60px;
  background-color: #fff;
  text-align: center;
  color: black;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 20%);
}
footer {
  padding: 20px;
  color: whitesmoke;
  background-color: black;
  text-align: center;
  font-weight: bold;
}
#list-news{
  font-size: 12pt;
}
